* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

  body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #A7E9AF;
    width: 10vw;
    height: 15vw;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 17px;
    cursor: pointer;
    transition: .5s;
    transform-style: preserve-3d;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    padding: 10px;
}

.btn:focus {
    outline: none;
}

img {
    width: 8vw;
}

ion-icon {
    pointer-events: none;
    display: inline;
}

.title {
    color: #75B79E;
    font-size: 56px;
    font-weight: bold;
    line-height: 66px;
    margin: 40px auto 47px auto;
    text-align: center;
}

.options {
    width: 60%;
    height: 50%;
    color: purple;
    font-size: 56px;
    font-weight: bold;
    line-height: 66px;
    margin-bottom: 30px;
}

.help {
    width: 60%;
    height: 50%;
    color: purple;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 30px;
}

.clock {
    position: absolute;
    top: 45px;
    right: 50px;
    color: black;
    font-size: 3vw;
}

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.back-face {
    display: none;
}

.selected {
    transform: rotateY(180deg);
}

.selected .front-face {
    display: none;
}

.selected .back-face {
    display: contents;
}

.main-screen {
    position: fixed;
    top: 50px;
    left: 27%;
    width: 40px;
    height: 40px;
    color: purple;
    font-size: 30px;
    font-weight: bold;
    line-height: 66px;
    padding: 0px;
    margin: 0px;
    display: none;
}

.ranking-button, .initial-screen-button {
    font-size: 40px;
    width: 43px;
    height: 42px;
    color: #fff;
    background: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    background-size: 400%;
    border-radius: 50%;
    padding: 0px;
    position: absolute;
    top: calc(45vh - 26px);
    right: 50px;
    transition: all .5s;
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.initial-screen-button {
    top: calc(45vh - 26px);
    left: 50px;
    display: none;
    background-position: right;
}

.ranking-button:hover {
    background-position: right;
}

.initial-screen-button:hover {
    background-position: left;
}

.next-screen .container {
    flex-wrap: nowrap;
}

.next-screen .container.how-to-play{
    flex-wrap: wrap;
}


.info {
    font-size: 40px;
    padding: 30px;
    background: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.list-info {
    color: #75B79E;
    font-size: 20px;
}

@media (max-width: 1100px) {
    .clock {
        top: 110px;
        right: 43%;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 9vw;
        text-align: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 60vw;
        height: 90vw;
    }

    .clock {
        font-size: 5vw;
    }

    .options {
        width: 90%;
        height: 20vw;
        color: purple;
        font-size: 30px;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: 30px; 
    }

    .ranking-button {
        right: 0;
        margin: 0;
    }

    .next-screen .container{
        flex-direction: row;
    }

    .info {
        font-size: 9px;
    }

    .initial-screen-button {
        left: 0;
        margin: 0;
    }

    .help {
        width: 90%;
    }
}