.title.slide-left {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  animation-name: slide-from-left;
  animation-duration: 2s;
}

.container.slide-left {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    animation-name: slide-from-left;
    animation-duration: 2s;
}

.title.slide-up{
  position: absolute;
  left: 32%;
  top: 5%;
  transform: translateY(50%);
  animation-name: slide-from-bottom;
  animation-duration: 2s;
}

.container.slide-up{
  position: absolute;
  left: 11%;
  top: 35%;
  transform: translateY(50%);
  animation-name: slide-from-bottom;
  animation-duration: 2s;
}

.next-screen.slide-right {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(50%);
    animation-name: slide-from-right;
    animation-duration: 2s;
}

.next-screen.slide-bottom {
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translateY(50%);
  animation-name: slide-from-top;
  animation-duration: 2s;
}

@keyframes slide-from-left {
    from {
      left: 50%;
    }
    to {
      left: -100%;
    }
}
  
@keyframes slide-from-right {
    from {
      left: -10%;
    }
    to {
      left: 130%;
    }
}

@keyframes slide-from-bottom {
  from {
    top: 10%;
  }
  to {
    top: -100%;
  }
}

@keyframes slide-from-top {
  from {
    top: -30%;
  }
  to {
    top: 200%;
  }
}